@import "../../css/_misc.scss";
@import "../../css/variables.scss";

@import '~normalize.css/normalize.css';

.container {
	margin: 0 auto;
	width: 1170px;
}

* {
	box-sizing: border-box;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.page-content {
	min-height: 100vh;
}