@import "~css/_misc.scss";

.header .container {
	background: #ccc;
}

.header__top {
	@include clearfix;
}

.header__logo {
	float: left;
	width: 35%;
}

.header__search {
	float: left;
	width: 30%;
}

.header__menu {
	float: left;
	width: 35%;
}
